<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ include('templates/head.html.twig')}}
    </head>
    <body>
        {{ include('templates/navigation.html.twig')}}

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        {% block body %}{% endblock %}

        {{ include('templates/script.html.twig')}}
    </body>
</html>
